<div class="row row-cols-1 row-cols-md-2">
<% @todos.each do |t| %>
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= t.description %></h5>
        <p class="card-text"><%= t.completed %></p>
      </div>
    </div>
  </div>
<% end %>
</div>