<div class="blog-post">
        <h2 class="blog-post-title"><%= @todo.description %></h2>
        <p class="blog-post-meta"><%= @todo.created_at %></p>
        <hr>
        <p><%= @todo.completed %></p>
</div>

<%= link_to "Back to ToDos listing", root_path%>